.homepage-container{
    display: grid;
    grid-template-areas: "content image";
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.homepage-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-content-para{
  max-width: 16rem;
}
.website-name{
    color: orange;
}
.website-name, .login-signup-btn{
    max-width: 13rem;
}

.startnow-btn {
    background-color: orange;
    cursor: pointer;
    border: none;
    height: 2rem;
}